{% extends 'base.html' %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen">
    <div class="w-full max-w-2xl px-4">


        <div class="bg-black rounded-lg mb-8">

            <div class="flex items-center justify-between">
                <div id="curl-command" class="px-4 py-3 text-white font-mono text-sm overflow-x-auto">
                    &gt; curl --upload-file hello.txt {{ request.host_url }}hello.txt
                </div>
                <button id="copy-button" class="text-slate-400 hover:text-white mr-[4px]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0v2m0-2V3m0 2v2" />
                    </svg>
                </button>
            </div>
        </div>

        <form id="upload-form" action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data" class="text-center">
            <label for="file-upload" id="drop-zone" class="flex flex-col items-center justify-center w-full h-64 border-2 border-slate-700 border-dashed rounded-lg cursor-pointer bg-slate-800 hover:bg-slate-700">
                <div class="flex flex-col items-center justify-center pt-5 pb-6">
                    <p class="mb-2 text-2xl text-slate-400">Drag and drop your files here</p>
                    <p class="text-slate-500">or click to select files</p>
                </div>
                <input id="file-upload" name="file" type="file" class="hidden" />
            </label>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
